<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3><strong>Character Search</strong></h3>
                    </div>
                    <div class="card-body">
                        <input type="text" id="character-search" class="form-control">
                        <br>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary btn-md" id="search-btn"><span
                                    class="fa fa-search"></span> Search
                                Your Feelings. You know it is true.</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3><strong>Table#</strong><span id="id">{{{ table }}}</span></h3>
                    </div>
                    <div class="card-body">
                        <h3><strong>ID:</strong><span id="id">{{{ id }}}</span></h3>
                        <h3><strong>Name:</strong><span id="name">{{{ name }}}</span></h3>
                        <h3><strong>Email:</strong><span id="email">{{{ email }}}</span></h3>
                        <h3><strong>Phone:</strong><span id="phone">{{{ phone }}}</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>